<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MamNon.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AFBAC6FF4E6CEE5388335867C223BE844318B779</string>
				<key>dateExpires</key>
				<string>01/10/2023</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AFBAC6FF4E6CEE5388335867C223BE844318B779</string>
						<key>dateExpires</key>
						<string>01/10/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2248642BHA</string>
						<key>name</key>
						<string>NGUYEN THAI SON</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AFBAC6FF4E6CEE5388335867C223BE844318B779</string>
						<key>dateExpires</key>
						<string>01/10/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CarbonKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2248642BHA</string>
						<key>name</key>
						<string>NGUYEN THAI SON</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AFBAC6FF4E6CEE5388335867C223BE844318B779</string>
						<key>dateExpires</key>
						<string>01/10/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2248642BHA</string>
						<key>name</key>
						<string>NGUYEN THAI SON</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AFBAC6FF4E6CEE5388335867C223BE844318B779</string>
						<key>dateExpires</key>
						<string>01/10/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FloatingPanel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2248642BHA</string>
						<key>name</key>
						<string>NGUYEN THAI SON</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AFBAC6FF4E6CEE5388335867C223BE844318B779</string>
						<key>dateExpires</key>
						<string>01/10/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2248642BHA</string>
						<key>name</key>
						<string>NGUYEN THAI SON</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AFBAC6FF4E6CEE5388335867C223BE844318B779</string>
						<key>dateExpires</key>
						<string>01/10/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2248642BHA</string>
						<key>name</key>
						<string>NGUYEN THAI SON</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AFBAC6FF4E6CEE5388335867C223BE844318B779</string>
						<key>dateExpires</key>
						<string>01/10/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2248642BHA</string>
						<key>name</key>
						<string>NGUYEN THAI SON</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AFBAC6FF4E6CEE5388335867C223BE844318B779</string>
						<key>dateExpires</key>
						<string>01/10/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2248642BHA</string>
						<key>name</key>
						<string>NGUYEN THAI SON</string>
					</dict>
					<key>versionNumber</key>
					<string>5.13.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AFBAC6FF4E6CEE5388335867C223BE844318B779</string>
						<key>dateExpires</key>
						<string>01/10/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2248642BHA</string>
						<key>name</key>
						<string>NGUYEN THAI SON</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AFBAC6FF4E6CEE5388335867C223BE844318B779</string>
						<key>dateExpires</key>
						<string>01/10/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2248642BHA</string>
						<key>name</key>
						<string>NGUYEN THAI SON</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2248642BHA.vn.dzungnguyen.kidcare</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2248642BHA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MamNon.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b99b2714-fe06-4bb1-8dbf-1577f28a03b6</string>
				<key>dateExpires</key>
				<string>01/10/2023</string>
				<key>name</key>
				<string>Adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2248642BHA</string>
				<key>name</key>
				<string>NGUYEN THAI SON</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
